.wrapper {
  display: flex;
  align-items: center;
}
.logOutBtn {
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #fff;
  color: #3f51b5;
  border: none;
}
.userName {
  margin-right: 30px;
}
.btnRegister {
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #fff;
  color: #3f51b5;
  border: none;
}
.btnLogin {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #fff;
  color: #3f51b5;
  border: none;
}
